.u-section-1 .u-sheet-1 {
  min-height: 782px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 0 0;
  padding: 8px 33px;
}

.u-section-1 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
}